<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add picture</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"/>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/meta>
                </head>
    
                <center style="padding-top: 50px">
                    <form th:action="@{/wall/{user}/add_picture(user=${account.profileName})}" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="submit" value="Add"/>
                    </form>
                </center>











                </html>