<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/meta>
                <title>TODO supply a title</title>
                </head>

                <body>
                    <div>TODO write content</div>
                    <div>
                        <form method="post" action="#" th:action="@{/logout}"><input type="submit" name="logout" value="Logout"/></form>
                    </div>
                </body>
                </html>
