<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${account.name}">User name</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"/>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/meta>

                </head>
                <body>
                    <center>
                        <div class="container" style="padding-top: 50px">
                            <div class="col-2"></div>
                            <div class="col-8">

                                <!--Profile name-->
                                <h3 th:text="${account.profileName} + '´s wall'"
                                    style='padding-bottom: 20px'>Profile name</h3>

                                <!--Profile picture-->
                                <span th:if="${account.profilePicture != null}">
                                    <img th:src="@{/wall/{user}/picture(user=${account.username})}"
                                         width="200" height="200"/>
                                    <form th:action="@{/wall/{user}/remove_picture (user=${account.username})}"
                                          method="POST"
                                          style='padding-bottom: 60px; padding-top: 20px'>
                                        <input th:if='${userSameAsBrowsed==true}'
                                               type="submit"
                                               value="Remove picture"
                                               onclick="return confirm('Are you sure you want to permanently remove the profile picture?')"
                                               />
                                    </form>
                                </span>

                                <!--Add profile picture-->
                                <div th:if='${userSameAsBrowsed==true}'>
                                    <span th:if="${account.profilePicture == null}">
                                        <a th:href="@{/wall/{user}/add_picture(user=${account.username})}" style="padding-bottom: 40px">Add a profile picture</a>
                                    </span>
                                </div>

                                <!--Add a skill-->
                                <div th:if='${userSameAsBrowsed==true}'>
                                    <h3 style='padding-top: 60px'>Add a skill</h3>
                                    <form method='POST' th:action="@{/wall/{user}/skill(user=${account.username})}">
                                        <table>
                                            <tr>
                                                <td><input type='skill'
                                                           name='skillName'
                                                           placeholder="Enter a skill"
                                                           style="width: 250px">
                                                </td>
                                            </tr>
                                            <tr>
                                                <div th:if="${errorMessage}" style='color:red'>
                                                    <div th:text="${errorMessage}"></div>
                                                </div>
                                            </tr>
                                            <tr>
                                                <td style="padding-top: 20px">
                                                    <input name="submit"
                                                           type="submit"
                                                           value="Add skill"
                                                           style="width: 250px"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                    <div class="col-2"></div>
                                </div>
                            </div>
                        </div>


                        <body>
                            <div class="container" style="padding-top: 40px">

                                <!--List top three skills if there are more than three skills-->
                                <h3 th:if='${moreThanThreeSkills == true}'>Top skills</h3>
                                <div class="row col-md-7 table-responsive"
                                     th:if='${moreThanThreeSkills == true}'>
                                    <table id="skillsTable" class="table">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Skill</th>
                                                <th style="text-align: center">Commendations
                                                    <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="skill, rowStat: ${skillsTopThree}">
                                                <td th:text="${skill.skillName}"
                                                    style="text-align: center">skill name</td>
                                                <td th:text="${skill.commendAmount}"
                                                    style="text-align: center">Amount of commendations</td>
                                                <td>


                                                    <div th:if="${#lists.contains(skill.accountsThatCommended, currentUserAccount)}">
                                                        <p>Commended</p>
                                                    </div>

                                                    <div th:unless="${#lists.contains(skill.accountsThatCommended, currentUserAccount)}">    
                                                        <form th:if='${userSameAsBrowsed==false}'
                                                              method='POST'
                                                              th:action="@{/wall/{user}/commend/{skill}(user=${account.username}, skill=${skill.skillName})}">
                                                            <input name="submit"
                                                                   type="submit"
                                                                   value="Commend"
                                                                   style="width: 100px"/></th>
                                                        </form>
                                                    </div>

                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!--List skills that are not in top three and
                                when there are more than three skills-->
                                <h3>Skills</h3>
                                <div class="row col-md-7 table-responsive"
                                     th:if='${moreThanThreeSkills == true}'>
                                    <table id="skillsTable" class="table">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Skill</th>
                                                <th style="text-align: center">Commendations
                                                    <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="skill, rowStat: ${skillsNotTopThree}">
                                                <td th:text="${skill.skillName}"
                                                    style="text-align: center">skill name</td>
                                                <td th:text="${skill.commendAmount}"
                                                    style="text-align: center">Amount of commendations</td>
                                                <td>

                                                    <div th:if="${#lists.contains(skill.accountsThatCommended, currentUserAccount)}">
                                                        <p>Commended</p>
                                                    </div>

                                                    <div th:unless="${#lists.contains(skill.accountsThatCommended, currentUserAccount)}">

                                                        <form th:if='${userSameAsBrowsed==false}'
                                                              method='POST'
                                                              th:action="@{/wall/{user}/commend/{skill}(user=${account.username}, skill=${skill.skillName})}">
                                                            <input name="submit"
                                                                   type="submit"
                                                                   value="Commend"
                                                                   style="width: 100px"/></th>
                                                        </form>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!--List skills when there are three or less skills-->
                                <div class="row col-md-7 table-responsive"
                                     th:if='${moreThanThreeSkills == false}'>
                                    <table id="skillsTable" class="table">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center">Skill</th>
                                                <th style="text-align: center">Commendations
                                                    <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="skill, rowStat: ${skills}">
                                                <td th:text="${skill.skillName}"
                                                    style="text-align: center">skill name</td>
                                                <td th:text="${skill.commendAmount}"
                                                    style="text-align: center">Amount of commendations</td>
                                                <td>

                                                    <div th:if="${#lists.contains(skill.accountsThatCommended, currentUserAccount)}">
                                                        <p>Commended</p>
                                                    </div>

                                                    <div th:unless="${#lists.contains(skill.accountsThatCommended, currentUserAccount)}">
                                                        <form th:if='${userSameAsBrowsed==false}'
                                                              method='POST'
                                                              th:action="@{/wall/{user}/commend/{skill}(user=${account.username}, skill=${skill.skillName})}">
                                                            <input name="submit"
                                                                   type="submit"
                                                                   value="Commend"
                                                                   style="width: 100px"/></th>
                                                        </form>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </body>
                    </center>
                </body>
                </html>